// responsive queries
$queries: (
	desktop: "min-width: 1224px",
	tablet_mobile: "max-device-width: 1224px",
	portrait: "orientation: portrait",
	retina: "min-resolution: 2dppx",
	big: "min-device-width: 1824px"
);

@mixin media($keys...) {
	@each $key in $keys {
		@media (map-get($queries, $key)) {
			@content;
		}
	}
}

// buttons
.btn {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: initial;
	line-height: initial;
	margin: 2px;
	background-color: blue !important;
	padding: 8px !important;
}

// tabs
.tabs .tab a {
	color: blue !important;
	box-shadow: none !important;
}

.tabs .tab a:hover {
	background-color: rgb(44, 44, 44) !important;
	color: blue !important;
	box-shadow: none !important;
}

.tabs .tab a .active {
	background-color: #111 !important;
	color: blue !important;
	box-shadow: none !important;
}

.tabs .indicator {
	background-color: blue !important;
	box-shadow: none !important;
}


// materialize
@import "node_modules/materialize-css/sass/materialize";
